<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <title>Page Pokemon</title>
</head>
<body>
  <div class="pokemon-information">
    <table>
      <thead>
        <th class="js-background-color">
          {{pokemons['name']['fr']}}
        </th>

        <th>
        <big>
          № {{pokemons['id']}}
        </big>
        </th>
      </thead>

      <tbody>
        <tr>
        <td class="illustration" colspan="2">
          <img class="image_illustration" alt="Image de {{pokemons['name']['fr']}}" src="Https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{pokemons['id']}}.svg">
        </td>
        </tr>

        <tr>
          <th class="js-background-color">
            Types
          </th>

          <th class="no-js-background-color">
          {%for i in pokemons['types']%}
          {{i}}
          {%endfor%}
          </th>
        </tr>

        <tr>
          <th class="js-background-color">
            Catégorie
          </th>
            
          <th class="no-js-background-color">
            {{pokemons['genus']['fr']}}
          </th>
        </tr>

        <tr>
          <th class="js-background-color">
            Taille
          </th>

          <th class="no-js-background-color">
            {{pokemons['height']}}
          </th>
        </tr>

        <tr>
          <th class="js-background-color">
            Poids
          </th>

          <th class="no-js-background-color">
            {{pokemons['weight']}}
          </th>
        </tr>

      </tbody>
    </table>

    <table class="stat-pokemon-table">
      <tbody>

      <tr>
        <th colspan="3" class="js-background-color stat">
          Statistiques indicatives de {{pokemons['name']['fr']}}
        </th>      
      </tr>
      
      <tr>
        <th class="js-background-color">
          Statistique
        </th>

        <th class="js-background-color" colspan="2">
          Statistique de base
        </th>
      </tr>

      <tr>
        <td class="no-js-background-color">
          PV
        </td>

        <td class="no-js-background-color">
          {{pokemons['stats'][0]['stat']}}
        </td>
        <td class="no-js-background-color stat-indicator">  
            <div class="stat-indicator-js" style="width: {{pokemons['stats'][0]['stat']}}px; height:10px; background: #a0f0a0; border: 1px solid black">&nbsp;</div>
        </td>
      </tr>

      <tr>
        <td class="no-js-background-color">
          Attaque
        </td>

        <td class="no-js-background-color">
          {{pokemons['stats'][1]['stat']}}
        </td>
        <td class="no-js-background-color stat-indicator">
            <div class="stat-indicator-js" style="width:{{pokemons['stats'][1]['stat']}}px; height:10px; background: #f0a0a0; border: 1px solid black">&nbsp;</div>
        </td>
      </tr>

      <tr>
        <td class="no-js-background-color">
          Defense
        </td>

        <td class="no-js-background-color">
          {{pokemons['stats'][2]['stat']}}
        </td>
        <td class="no-js-background-color stat-indicator">
            <div class="stat-indicator-js" style="width:{{pokemons['stats'][2]['stat']}}px; height:10px; background: #f0f0a0; border: 1px solid black">&nbsp;</div>
        </td>
      </tr>

      <tr>
        <td class="no-js-background-color">
          Attaque Spéciale
        </td>

        <td class="no-js-background-color">
          {{pokemons['stats'][3]['stat']}}
        </td>
        <td class="no-js-background-color stat-indicator">
            <div class="stat-indicator-js" style="width:{{pokemons['stats'][3]['stat']}}px; height:10px; background: #f8c8a0; border: 1px solid black">&nbsp;</div>
        </td>
      </tr>

      <tr>
        <td class="no-js-background-color">
          Defense Spéciale
        </td>

        <td class="no-js-background-color">
          {{pokemons['stats'][4]['stat']}}
        </td>
        <td class="no-js-background-color stat-indicator">
            <div class="stat-indicator-js" style="width:{{pokemons['stats'][4]['stat']}}px; height:10px; background: #e8c868; border: 1px solid black">&nbsp;</div>
        </td>
      </tr>

      <tr>
        <td class="no-js-background-color">
          Vitesse
        </td>


       <td class="no-js-background-color">
          {{pokemons['stats'][5]['stat']}}
        </td>
        <td class="no-js-background-color stat-indicator">
            <div class="stat-indicator-js" style="width:{{pokemons['stats'][5]['stat']}}px; height:10px; background: #a0f0f0; border: 1px solid black">&nbsp;</div>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</body>
</html>

<script>

let typeColors = {
  'Normal' : '#6D6D4E',
  'Fire' :'#9C531F',
  'Water' :'#445E9C',
  'Electric' :'#A1871',
  'Grass' :'#4E8234',
  'Ice' :'#638D8D',
  'Fighting' :'#7D1F1',
  'Poison' :'#682A68',
  'Ground' :'#927D44',
  'Flying' :'#6D5E9C',
  'Psychic' :'#A13959',
  'Bug' :'#6D7815',
  'Rock' :'#786824',
  'Ghost' :'#493963',
  'Dragon' :'#4924A1',
  'Dark' :'#49392F',
  'Steel' : '#787887',
  'Fairy' : '#9B6470',
};

// Get the value of type from the API response
let type = "{{pokemons['types'][0]}}";

if (type in typeColors) 
  for(const dom of document.querySelectorAll('.js-background-color'))
    dom.style.backgroundColor = typeColors[type];

</script>